# Datasource local storage ignored files
/dataSources/
.idea/
.gradle/
build/
out/
lib/
*.jar
src/main/resources/vkconfig.properties
# Editor-based HTTP Client requests
/httpRequests/
# Default ignored files
/workspace.xml